body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  height: 50vh;
  padding-bottom: 50px;
}

.header {
  color: #6DC066;
  max-width: 350px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-bottom: solid 3px #6dc066;
  font-size: 35pt;
  font-weight: bold;
  cursor: default;
}

.welcome {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  font-size: 15pt;
}

.helpful-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  font-size: 15pt;
}

.button-layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

.character-form {
  font-size: 30px;
}

.character-label{
  padding: 10px;
}

.input {
  color: #6DC066;
  border: none;
  border-bottom: solid 1px #6DC066;
  outline: none;
}

.party-name-input {
  color: black;
  text-align: center;
  border-bottom: none;
  font-size: 30pt;
  font-weight: bold;
}

.party-name-input::placeholder {
  color: black;
  text-align: center;
  opacity: 1;
}

.party-name-input:focus::placeholder {
  opacity: .3;
}

.character-input {
  font-size: 40px;
}

.character-input:focus {

}

.main-button {
  background-color: #6DC066;
  color: white;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10%;
  margin: 5px;
  vertical-align: bottom;
  transition: all .1s;
}

.main-button:hover {
  border: solid 2px #6DC066 ;
  background-color: white;
  color: #6DC066;
  cursor: pointer;
  transition: all .2s;
}

.add-button {
  font-size: 40px;
}

.back-button {
  height: 30px;
  width: 30px;
  border: solid 2px #6DC066;
  border-radius: 100%;
  background-color: white;
  color: #6DC066;
  font-size: 20px;
}

.back-button:hover {
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6DC066;
  opacity: .5;
}